*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9E9C9C;
}

a {
    color: inherit; /* Устанавливает цвет текста в зависимости от цвета родительского элемента */
    text-decoration: none; /* Убирает подчеркивание текста */
    background: none; /* Убирает фоновый цвет */
    border: none; /* Убирает границы */
    outline: none; /* Убирает обводку, которая появляется при фокусе */
}

@font-face {
    font-family: Nunito-Bold;
    src: url("fonts/nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("fonts/montserrat/static/Montserrat-Regular.ttf");
}

.main-wrapper {
    position: relative;
    width: 375px;
    height: 615px;
    background: #ffffff;
    z-index: 100;

    /*margin: 100px auto 0;*/
    padding: 24px;
}