*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9E9C9C;
}

a {
    color: inherit; /* Устанавливает цвет текста в зависимости от цвета родительского элемента */
    text-decoration: none; /* Убирает подчеркивание текста */
    background: none; /* Убирает фоновый цвет */
    border: none; /* Убирает границы */
    outline: none; /* Убирает обводку, которая появляется при фокусе */
}

@font-face {
    font-family: Nunito-Bold;
    src: url("fonts/nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("fonts/montserrat/static/Montserrat-Regular.ttf");
}

.main-wrapper {
    position: relative;
    width: 375px;
    height: 615px;
    background: #ffffff;
    z-index: 100;

    /*margin: 100px auto 0;*/
    padding: 24px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: Nunito-Bold, sans-serif;
    font-size: 16px;

    margin-bottom: 24px;
}

.profile-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;

    margin-bottom: 16px;
    padding: 17px 24px 19px 24px;

    box-shadow: 0 2px 4px 0 rgba(3, 2, 41, 0.07);
    border-radius: 8px;
    /*border: 1px solid black;*/
}

.hystmodal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* см. ниже */
    align-items: center;
    z-index: 99;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    padding: 30px 0;
}

.hystmodal__wrap {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.hystmodal__window {
    margin: 50px 0;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 600px;
    max-width: 100%;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 0;
}

.hystmodal--active {
    visibility: visible;
}

.hystmodal--active .hystmodal__window {
    transform: scale(1);
    opacity: 1;
}

.hystmodal__shadow {
    position: fixed;
    border: none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: opacity 0.15s ease;
    background-color: black;
}

/* активная подложка */
.hystmodal__shadow--show {
    pointer-events: auto;
    opacity: 0.6;
}

.hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}