*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9E9C9C;
}

@font-face {
    font-family: Nunito-Bold;
    src: url("fonts/nunito/Nunito-Bold.ttf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("fonts/montserrat/static/Montserrat-Regular.ttf");
}

/*p {*/
/*    font-family: Nunito-Bold, serif;*/
/*    font-size: 14px;*/
/*}*/

.main-wrapper {
    position: relative;
    width: 375px;
    height: 615px;
    background: #ffffff;

    /*margin: 100px auto 0;*/
    padding: 24px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
}

.address {
    font-family: Nunito-Bold, sans-serif;
    font-size: 16px;
}

.profile {
    /*display: flex;*/
}

.profile__link {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
    border-radius: 8px;

    width: 327px;
    height: 40px;
    margin-bottom: 24px;
}

.search__form {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.search__text {
    background: transparent;
    border: none;
    flex-grow: 1;
    margin-right: 19px;

    margin-left: 19px;
}

.search__text:focus {
    outline: none;
    border-color: transparent;
}

.search__submit {
    outline: none;
    border: none;
    background-image: url("img/search.svg");
    background-repeat: no-repeat;
    cursor: pointer;

    margin-right: 12px;
}

.categories {
    display: flex;
    gap: 16px;

    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    white-space: nowrap;
    margin-bottom: 24px;
}

.categories::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.category__btn {
    color: #ffffff;
    /*font-weight: bold;*/
    font-size: 14px;
    font-family: Nunito-Bold, sans-serif;
    background-color: #FCBC9E;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);

    padding: 10px 24px;

    cursor: pointer;
}

.category__btn__active {
    background-color: #B1464A;
}

.cards {
    position: relative;
    display: grid;
    grid-template-columns: 155px 155px;
    column-gap: 17px;
    row-gap: 8px;
    height: 345px;

    overflow-y: auto;
    /*overflow-x: hidden;*/
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.cards::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.card {
    position: relative;

    width: 155px;
    height: 155px;

    overflow-y: auto;

    border: 1px solid black;
}

.card__img {
    border-radius: 100%;
    margin: 0;
}

.card__info {
    position: absolute;
    top: 10px;
    right: 12px;
}

.card__name {
    position: absolute;
    top: 94px;
    left: 12px;

    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
}

.card__price {
    position: absolute;
    top: 124px;
    left: 12px;

    color: rgba(61, 61, 61, 0.5);
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
}

.card__basket {
    position: absolute;
    top: 121px;
    right: 12px;
}

.cards__basket {
    position: fixed;
    top: 550px;

}

.cards__basket-btn {
    border: none;
    border-radius: 8px;
    cursor: pointer;

    color: #FFFFFF;
    white-space: nowrap;
    background-color: #B1464A;

    padding: 14px 106px;
}